@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Sistema de Controle de Contatos</p>
</div>


<a class="btn btn-primary btn-lg active" asp-controller="Contato" asp-action="Index" role="button" aria-pressed="true">Clique aqui para cadastrar</a>